<!doctype html>
<html ng-app="demo">
  <head>
    <meta charset="utf-8">
    <title>AngularJS directive demo</title>

    <!-- TODO: Include Angular from Bower components -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">

    <link rel="stylesheet" href="../dist/directive.css">
    <link rel="stylesheet" href="demo.css">
  </head>
  <body ng-controller="demoController">
    <div class="container">
      <h1 class="text-muted">Demo</h1>

      <div class="usage row">
        <h4>Simple usage</h4>
        <p>This is a simple usage of the directive</p>
        <pre>&lt;the-directive&gt;&lt;/the-directive&gt;</pre>
        <h4>Results</h4>
        <status-button ng-click="setSuccessPromise()" promise="successPromise">
          <span>Good Status {{$value}}</span>
        </status-button>
        <status-button ng-click="setErrorPromise()" promise="errorPromise">
          <span>Bad Status {{$value}}</span>
        </status-button>
      </div>
    </div>

    <script src="../dist/directive.js"></script>
    <script src="demo.js"></script>
  </body>
</html>